<header class = "navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Rails", "#", id:"logo"%>
        <nav>
          <ul class ="nav navbar-nav navbar-right">
            <!-- link_to is a rails helper to create links,first is the link text and second is the link -->
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log In", "#"%></li>
          </ul>
        </nav>
      </div>
    </header>